header{
    background-color: rgb(226, 136, 71);
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Hubballi', cursive;
    text-transform: uppercase;
}
#nameandtitle{
    background-color: white;
    width: 500px;
    margin: auto;
    text-align: center;
}
h1, h1, h3{
    text-transform: uppercase;
}